/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 6%, rgba(253,29,29,1) 64%, rgba(252,176,69,1) 100%);
}

.wrapper {
    display: flex;
    justify-content: center;
}

#app {
    display: flex;
    flex-direction: column;
    
}

#app img {
    width: 500px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
}

.myClass {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #FFFF00;
    font-size: 40px;
    color: rgb(29, 53, 6);
    border-radius: 3px;
}